<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 bg-dark con">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true">Create</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
          aria-controls="v-pills-profile" aria-selected="false">Read</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
          aria-controls="v-pills-messages" aria-selected="false">Update</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
          aria-controls="v-pills-settings" aria-selected="false">Delete</a>
      </div>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-12 con">
      <div class="container">
        <div class="row">
          <div class="container">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h1>Client form</h1>
            <form #clientForm="ngForm" (ngSubmit)="createClient(); clientForm.reset();">
              <div class="row">
                <div class="form-group col-lg-9 col-md-6 col-sm-12">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="clientObj.name"
                    #name="ngModel">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
                  </div>
                </div>
                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                  <label for="age">Age</label>
                  <input type="number" class="form-control" id="age" name="age" required [(ngModel)]="clientObj.age"
                    #age="ngModel">
                  <div [hidden]="age.valid || age.pristine" class="alert alert-danger">
                    Age is required
                  </div>
                </div>
                <div class="form-group col-lg-9 col-md-6 col-sm-12">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required
                    [(ngModel)]="clientObj.email" #email="ngModel">
                  <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                    Email is required
                  </div>
                </div>
                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                  <label for="phone">Phone</label>
                  <input type="text" class="form-control" id="phone" name="phone" required [(ngModel)]="clientObj.phone"
                    #phone="ngModel">
                  <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                    Phone is required
                  </div>
                </div>
                <div class="form-group col-lg-9 col-md-6 col-sm-12">
                  <label for="company">Company</label>
                  <input type="text" class="form-control" id="company" name="company" required
                    [(ngModel)]="clientObj.company" #company="ngModel">
                  <div [hidden]="company.valid || company.pristine" class="alert alert-danger">
                    Company is required
                  </div>
                </div>
                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                  <label for="gender">Gender</label>
                  <input type="text" class="form-control" id="gender" name="gender" required
                    [(ngModel)]="clientObj.gender" #gender="ngModel">
                  <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
                    Gender is required
                  </div>
                </div>
                <div class="form-group col-12">
                  <label for="address">Address</label>
                  <input type="text" class="form-control" id="address" name="address" required
                    [(ngModel)]="clientObj.address" #address="ngModel">
                  <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
                    Address is required
                  </div>
                </div>
                <!--
                  id: 1,
                  isActivated: true,
                  age: 19,
                  name: 'Gilberto Angel de Jesus',
                  gender: 'male',
                  company: 'LACorp',
                  email: 'gadjs2001@gmail.com',
                  phone: '2381157257',
                  address: '30 Oriente 509'
                -->
              </div>
              <button class="btn btn-success" type="submit">Insert Client</button>
            </form>
          </div>
          <div class="tab-pane fade table-responsive" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <h1>Client list</h1>
            <table class="table table-bordered table-striped table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Company</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Address</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of clientList">
                  <th scope="row">{{client.id}}</th>
                  <td>{{client.name}}</td>
                  <td>{{client.age}}</td>
                  <td>{{client.email}}</td>
                  <td>{{client.phone}}</td>
                  <td>{{client.company}}</td>
                  <td>{{client.gender}}</td>
                  <td>{{client.address}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade table-responsive" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <h1>Client list</h1>
            <table class="table table-bordered table-striped table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Company</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Address</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of clientList">
                  <th scope="row">{{client.id}}</th>
                  <td>{{client.name}}</td>
                  <td>{{client.age}}</td>
                  <td>{{client.email}}</td>
                  <td>{{client.phone}}</td>
                  <td>{{client.company}}</td>
                  <td>{{client.gender}}</td>
                  <td>{{client.address}}</td>
                  <td>
                    <button class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                      Update
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade table-responsive" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <h1>Client list</h1>
            <table class="table table-bordered table-striped table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Company</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Address</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of clientList">
                  <th scope="row">{{client.id}}</th>
                  <td>{{client.name}}</td>
                  <td>{{client.age}}</td>
                  <td>{{client.email}}</td>
                  <td>{{client.phone}}</td>
                  <td>{{client.company}}</td>
                  <td>{{client.gender}}</td>
                  <td>{{client.address}}</td>
                  <td>
                    <button class="btn btn-outline-danger btn-sm" (click)="deleteClient(client);">
                      Delete
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <form #clientForm="ngForm" (ngSubmit)="createClient(); clientForm.reset();">
          <div class="modal-header bg-light" >
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="form-group col-lg-8 col-md-6 col-sm-12">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="clientObj.name"
                  #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  Name is required
                </div>
              </div>
              <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age" name="age" required [(ngModel)]="clientObj.age"
                  #age="ngModel">
                <div [hidden]="age.valid || age.pristine" class="alert alert-danger">
                  Age is required
                </div>
              </div>
              <div class="form-group col-lg-8 col-md-6 col-sm-12">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required
                  [(ngModel)]="clientObj.email" #email="ngModel">
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                  Email is required
                </div>
              </div>
              <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" required [(ngModel)]="clientObj.phone"
                  #phone="ngModel">
                <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                  Phone is required
                </div>
              </div>
              <div class="form-group col-lg-8 col-md-6 col-sm-12">
                <label for="company">Company</label>
                <input type="text" class="form-control" id="company" name="company" required
                  [(ngModel)]="clientObj.company" #company="ngModel">
                <div [hidden]="company.valid || company.pristine" class="alert alert-danger">
                  Company is required
                </div>
              </div>
              <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="gender">Gender</label>
                <input type="text" class="form-control" id="gender" name="gender" required
                  [(ngModel)]="clientObj.gender" #gender="ngModel">
                <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
                  Gender is required
                </div>
              </div>
              <div class="form-group col-12">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" required
                  [(ngModel)]="clientObj.address" #address="ngModel">
                <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
                  Address is required
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-success" type="submit">Insert Client</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
